@model Models.Sys_User
<article class="page-container">
    @using (Html.BeginForm("UserEdit", "Admin", FormMethod.Post, new { @class = "form form-horizontal", id = "form-validate" }))
    {
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>登录名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                @Html.TextBoxFor(p => p.LoginName, new { @class = "input-text" })
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>真实姓名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                @Html.TextBoxFor(p => p.UserName, new { @class = "input-text" })
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box" style="width:150px;">
                    @Html.DropDownListFor(p => p.RoleID, @ViewBag.SelectRoleList as IEnumerable<SelectListItem>, "请选择角色", new { @class = "select" })
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>状态：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="radio-box">
                    @Html.RadioButtonFor(p => p.Status, "1", new { id = "status1", @checked = "checked" })
                    @Html.Label("12", "是", new { @for = "status1" })
                </div>
                <div class="radio-box">
                    @Html.RadioButtonFor(p => p.Status, "0", new { id = "status2" })
                    @Html.Label("12", "否", new { @for = "status2" })
                </div>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    }
</article>
@Scripts.Render("~/bundles/icheck")
@Scripts.Render("~/bundles/validate")
<script type="text/javascript">
    $(function () {
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });
        validate("form-validate",
            {
                LoginName: {
                    required: true,
                    minlength: 5,
                    maxlength: 15
                },
                UserName: {
                    required: true,
                    minlength: 2,
                    maxlength: 6
                },
                RoleID: {
                    required: true
                },
                Status: {
                    required: true
                }
            }, function (data) {
                if (data == "1") {
                    layerAlert("添加成功")
                }
                else {
                    layerAlert("添加失败");
                }
            });
    });
</script>
<!--/请在上方写此页面业务相关的脚本-->